//DECLARACIÓN DE VARIABLES

//Variables de colores
$rosaSass:rgb(208,100,155);
$crema: rgb(253, 246, 246);
$black: rgb(0,0,0);
$white: rgb(255,255,255);

//Variables de paddings
$padding1: 1.5em;

//Variables de márgenes
$margin3: 3em;

//Variables height
$heightFoot: 100px;